<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/home_style.css" />

    <!-- Fontes -->
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <!-- Icones -->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
</head>

<body class="wrapper">
    <div class="title">
        <h1>BlueCork Feed</h1>
    </div>

    <div class="feed">
        <h3>NOVIDADES</h3>
    
        <h3>Design inteligente e sistemático, entre em contato e dê uma olhada no meu perfil!</h3>

        <div class="postUser">
            <img class="imagePost" src="../images/user123post1.png">
            <div class="iconAndNamedPerfil">
                <img class="imageIcon" src="../images/iconUser123.png">
                <div class="namedPerfil">
                    <h4>Ridhawan Nordian</h4>
                    <p>@ridzjcob</p>
                </div>
            </div>
        </div>

        <h3>Descubra baseado em suas pesquisas</h3>

        <div class="seeMore">
            <img src="../images/seeMore_1.png">
            <img src="../images/seeMore_2.png">
            <img src="../images/seeMore_3.png">
            <img src="../images/seeMore_4.png">
            <img src="../images/seeMore_5.png">
            <img src="../images/seeMore_6.png">
            <img src="../images/seeMore_7.png">
            <img src="../images/seeMore_8.png">
            <img src="../images/seeMore_9.png">
            <img src="../images/seeMore_10.png">
        </div>
        
        <div class="submitInput">
            <input type="submit" value="Veja +" class="btnWhite unique Roboto">
        </div>
    </div>

    <footer class="footerIcons">
        <p href="/home"><i class="fa icon fa-home" aria-hidden="true"></i></p>

        <a href="/search"><i class="fa icon fa-search" aria-hidden="true"></i></a>

        <a href="#"><i class="fa icon fa-plus" aria-hidden="true"></i></a>

        <a href="/chat"><i class="fa icon fa-comment" aria-hidden="true"></i></a>

        <a href="/user"><i class="fa icon fa-user-o" aria-hidden="true"></i></a>
    </footer>
</body>

</html>