<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/login-register_style.css" />

    <!-- Fontes -->
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body class="wrapper">
    <a href="../" class="previous">&#8249;</a>
    <div class="title">
        <h1>Entrar</h1>
    </div>

    <form action="/home" method="get">
        <input type="text" class="defaultInputText" placeholder="jane@exemple.com">
        <input type="password" class="defaultInputText" placeholder="**********">
        <div class="submitInput">
        	<a href="/home" class="btnDark unique Roboto"><b>Entrar</b></a>
        </div>
    </form>
</body>

</html>