body, html {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.wrapper {
    flex-direction: column;
    max-width: 375px;
    margin-bottom: 50px;
}

.Roboto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15.23px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

.feed h3 {
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 15.23px;
    letter-spacing: 2px;
    font-weight: bold;
    height: 40px;
}

h1 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
}


section {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 167px;
    height: 52px;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    align-self: center;
    text-decoration: none;
}

.btn b {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 13px;
    font-family: 'Roboto';
    letter-spacing: 0.04em;
    text-transform: uppercase;
    justify-content: center;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btnWhite {
    background-color: #fff;
    border: 2px solid #000;
}

.btnWhite:hover {
    background: rgb(245, 245, 245);
}

.btnWhite:active {
    background: rgb(190, 190, 190);
    top: 2px;
}

.btnWhite b {
    color: #000;
}

.btnDark {
    background-color: #000;
    border: 2px solid #000;
}

.btnDark:hover {
    background: rgb(30, 30, 30);
}

.btnDark:active {
    background: rgb(70, 70, 70);
    top: 2px;
}

.btnDark b {
    color: #fff;
}

.submitInput {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff;
    justify-content: space-around;
    height: 100px;
}

.defaultInputText {
    border: 2px solid #000000;
    width: 90%;
    height: 40px;
    margin: 5px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    align-self: center;
}

.footerIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 380px;
    height: 65px;
}

.footerIcons a {
    text-align: -webkit-center;
    font-size: 20px;
    color: #000;
    width: 50px;
}

.footerIcons p {
    text-align: -webkit-center;
    font-size: 20px;
    color: #9c9c9c;
    width: 50px;
}

.icon {
    font-size: 25px !important;
    width: 25px;
    height: 25px;
}

/*##### ICONS #####*/

a.icon {
    height: 32px;
    width: 32px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/* Home */
a.icon span.home {
    height: 0px;
    width: 0px;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
    position: absolute;
    bottom: 16px;
    left: 0;
}

/* Search */
a.icon span.search {
    height: 13px;
    width: 13px;
    background: transparent;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 4px solid #333;
}

/* Plus */
a.icon span.plus {
    width: 24px;
    height: 4px;
    background: #333;
    position: absolute;
    left: 4px;
    top: 14px;
}

/* Chat */
a.icon span.chat {
    width: 32px;
    height: 22px;
    background: #333;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

}

/* User */
a.icon span.user {
    width: 12px;
    height: 13px;
    background: #333;
    border-radius: 5px 5px 0 0;
    margin-left: 10px;
    margin-top: 2px;
}